<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/find_talent.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Find Talent</title>
</head>
<body>
    <main>
        <section class="form-container">
            <h2>Upload Your Job</h2>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="company_name">Company Name:</label>
                    <input type="text" id="company_name" name="company_name" required>
                </div>

                <div class="input-group">
                    <label for="designation">Designation:</label>
                    <input type="text" id="designation" name="designation" required>
                </div>

                <div class="input-group">
                    <label for="apply_link">Apply Link:</label>
                    <input type="text" id="apply_link" name="apply_link" required>
                </div>

                <div class="input-group">
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" required>
                </div>

                <div class="input-group">
                    <label for="salary">Salary:</label>
                    <input type="text" id="salary" name="salary" required>
                </div>

                <div class="input-group">
                    <label for="qualification">Qualification:</label>
                    <input type="text" id="qualification" name="qualification" required>
                </div>

                <div class="input-group">
                    <label for="experience">Experience:</label>
                    <input type="text" id="experience" name="experience" required>
                </div>
                
                </form>
            <button type="submit">SUBMIT</button>
        </section>
    </main>
</body>
</html>
