<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/find_job.css">
    <title>Orbit</title>
</head>
<body>
    <div class="header">
        <div class="logo">Orbit</div>
        <button class="donate-button">Donate</button>
    </div>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome to</h1>
                <h2>Orbit Community</h2>
                <p>Discover amazing Job Opportunities</p>
               <form method="GET" action="{% url 'find_job' %}#search-results">
                    <input type="" name="q" class="search-input" placeholder="Search by Position, Company, or Location"  value="{{ query|default:'' }}">
                    <button type="submit" class="cta-button">Search</button>
                </form>
            </div>
        </section>
    </main>

    <div class="card-container" id="search-results"> <!-- Add the 'id' attribute here -->
        {% if card_data %}
            {% for card in card_data %}
                <div class="card">
                    <h2>{{ card.company_name }}</h2>
                    <p>{{ card.designation }}</p>
                    <p>{{ card.location }}</p>
                    <a href="{{ card.apply_link }}" class="apply-button">Apply</a>
                </div>
            {% endfor %}
        {% else %}
            <h3>Oops, no results found.</h3>
        {% endif %}
    </div>

    <footer>
      
    </footer>
</body>
</html>