                {% load static %}

                <!DOCTYPE html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
                    <title>Orbit</title>
                </head>
                <body>
                    <div class="header">
                        <div class="logo">Orbit</div>
                        <button class="donate-button">Donate</button>
                    </div>
                    <div class="content">
                        <h1>Orbit Community</h1>
                        <p>Find your match</p>
                        <p id="quoteDisplay">{{ random_quote.text }}</p>
                    </div>
                    <div class='img-container'>
                
                    <div><img src="{% static 'images/find_job.jpg' %}" alt="Find Senior" class="image1"></div>
                    <a href="/find-job"><button class="btn1">Find Job</button></a>
                    <div><img src="{% static 'images/find_senior.jpg' %}" alt="Find Senior" class="image2"></div>
                    <div><button class="btn2">Find Senior</button></div>
                    <div><img src="{% static 'images/find_talent.jpg' %}" alt="Find Senior" class="image3"></div>
                    <div><button class="btn3">Find Talent</button></div>
        
                     </div>
                 </body>
                </html>
