/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a gradient background */
body {
background: #c7f4f4;
    font-family: Poppins, sans-serif;
    color: #fff;
}

/* Style the main content */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #f1f9fb);
    color: #fff;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 20px 25px; /* Reduced padding for a compact look */
    text-align: left; /* Align text to the left */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.form-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style the form inputs and button */
form {
    display: flex;
    flex-wrap: wrap; /* Allow elements to wrap to the next line if necessary */
}

.input-group {
    flex: 0 0 48%; /* Each input group takes up about half the width with some spacing */
    margin-right: 2%; /* Add spacing between input groups */
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #919191;
    border-radius: 30px;
}

button {
    margin-top: 20px;
    background-color: #7fe1e8;
    color: #3e3d3d;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3ee69d;
}
